<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TLingoTextPopupProtocolVersion</key>
	<integer>1</integer>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.zanderwang.AITranslator</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tlingo</string>
			</array>
		</dict>
	</array>
	<key>NSAudioCaptureUsageDescription</key>
	<string>TLingo needs audio capture access to create realtime subtitles from Mac audio.</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Translate with TLingo</string>
			</dict>
			<key>NSMessage</key>
			<string>translateText</string>
			<key>NSPortName</key>
			<string>TLingo</string>
			<key>NSSendTypes</key>
			<array>
				<string>public.utf8-plain-text</string>
				<string>NSStringPboardType</string>
			</array>
		</dict>
	</array>
	<key>NSSystemAudioCaptureUsageDescription</key>
	<string>TLingo needs system audio access to create realtime subtitles from Mac audio.</string>
	<key>com.apple.developer.translation-ui-provider.network-access</key>
	<true/>
</dict>
</plist>
